<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="importData" class="com.izanpin.data.impl.ImportDataImpl"></bean>
    <bean id="startWorkTaskImportJokes"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 要调用的bean -->
        <property name="targetObject" ref="importData"></property>
        <!-- 要调用的Method -->
        <property name="targetMethod" value="importJokes"></property>
        <!-- 是否并发,false表示 如果发生错误也不影响下一次的调用 -->
        <property name="concurrent" value="false"></property>
    </bean>
    <bean id="startWorkTaskImportPictures"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 要调用的bean -->
        <property name="targetObject" ref="importData"></property>
        <!-- 要调用的Method -->
        <property name="targetMethod" value="importPictures"></property>
        <!-- 是否并发,false表示 如果发生错误也不影响下一次的调用 -->
        <property name="concurrent" value="false"></property>
    </bean>
    <bean id="startWorkTriggerImportJokes" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="startWorkTaskImportJokes"></property>
        <property name="cronExpression" value="0 5 7,9,13,18 * * ?"></property>
    </bean>
    <bean id="startWorkTriggerImportPictures" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="startWorkTaskImportPictures"></property>
        <property name="cronExpression" value="0 20 6-23 * * ?"></property>
    </bean>
    <bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="startWorkTriggerImportJokes"/>
                <ref bean="startWorkTriggerImportPictures"/>
            </list>
        </property>
    </bean>
</beans>