<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izanpin.repository.LikeRepository">
    <resultMap id="ResultMap" type="com.izanpin.entity.Like">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="article_id" property="articleId"/>
        <result column="comment_id" property="commentId"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <select id="findByArticleId" resultMap="ResultMap">
        select *
        from `like`
        where article_id = #{articleId}
        order by id desc
    </select>
    <select id="getByArticleIdAndUserId" resultMap="ResultMap">
        select *
        from `like`
        where article_id = #{articleId} and user_id = #{userId}
        order by id desc
        limit 1
    </select>
    <select id="findByCommentId" resultMap="ResultMap">
        select *
        from `like`
        where comment_id = #{commentId}
        order by id desc
    </select>
    <select id="getByCommentIdAndUserId" resultMap="ResultMap">
        select *
        from `like`
        where comment_id = #{commentId} and user_id = #{userId}
        order by id desc
        limit 1
    </select>
    <insert id="add" parameterType="com.izanpin.entity.Like">
        INSERT INTO `like`
        (`id`
        ,`user_id`
        ,`comment_id`
        ,`article_id`
        ,`create_time`
        ,`update_time`)
        VALUES
        (#{id}
        ,#{userId}
        ,#{commentId}
        ,#{articleId}
        ,#{createTime}
        ,#{updateTime});
    </insert>
</mapper>