<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izanpin.repository.UserTokenRepository">
    <resultMap id="ResultMap" type="com.izanpin.entity.UserToken">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="token" property="token"/>
        <result column="refresh_token" property="refreshToken"/>
    </resultMap>
    <select id="getByUserId" resultMap="ResultMap">
        select *
        from `user_token`
        where user_id = #{userId}
        order by id desc
        limit 1
    </select>
    <select id="getByToken" resultMap="ResultMap">
        select *
        from `user_token`
        where token = #{token}
        order by id desc
        limit 1
    </select>
    <select id="getByFreshToken" resultMap="ResultMap">
        select *
        from `user_token`
        where refresh_token = #{refreshToken}
        order by id desc
        limit 1
    </select>
    <insert id="add" parameterType="com.izanpin.entity.UserToken">
        INSERT INTO `user_token`
        (`id`
        ,`user_id`
        ,`token`
        ,`refresh_token`)
        VALUES
        (#{id}
        ,#{userId}
        ,#{token}
        ,#{refreshToken});
    </insert>
    <update id="updateToken">
        UPDATE user_token SET token=#{token} WHERE id=#{id};
    </update>
</mapper>